.banner{
    margin-bottom: 30vh;
    .banner__slide__img{
        width: 100%;
    }
    .overlay__box{
        background-color: #EAEDED;
        width: 100%;
        height: 300px;
        position: absolute;
        bottom: -463px;
        left: 0;
        opacity: 0.7;
        filter: blur(8px);
        -webkit-filter: blur(21px);
    }
    .icon__container{
        color: white;
        position: absolute;
        top: 200px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .icon__back , .icon__next{
            margin: 0px 25px;
            width: 70px;
            height: 100px;
        }
        // .icon__back{
        //     // box-shadow: -10px -10px black;
        // }    
    }
    .card__list__menu{
        // width: 100%;
        position: absolute;
        top: 60vh;
    }
}