.container{
    .link{
        display: flex;
        flex-direction: column;
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        .title{
            font-weight: bold;
            font-size: 11px;
            opacity: 0.7;
            width: 100px;
        }
        .subTitle{
            font-size: 10px;
            opacity: 0.5;
            width: 70px;
        }
    }
}